./src/Quizzical-Desktop/node_modules
./src/Quizzical-Desktop/dist
./src/Quizzical-Desktop/out
./src/Quizzical-Desktop/.DS_Store
./src/Quizzical-Desktop/*.log*
./src/Quizzical-Desktop/.idea

./src/Quizzical-Server/bin/
./src/Quizzical-Server/obj/
./src/Quizzical-Server/packages/
./src/Quizzical-Server/riderModule.iml
./src/Quizzical-Server/_ReSharper.Caches/
/src/Quizzical-Server/.idea/

./src/Quizzical-Web/logs
./src/Quizzical-Web/*.log
./src/Quizzical-Web/npm-debug.log*
./src/Quizzical-Web/yarn-debug.log*
./src/Quizzical-Web/yarn-error.log*
./src/Quizzical-Web/pnpm-debug.log*
./src/Quizzical-Web/lerna-debug.log*

./src/Quizzical-Web/node_modules
./src/Quizzical-Web/dist
./src/Quizzical-Web/dist-ssr
./src/Quizzical-Web/*.local

./src/Quizzical-Web/.vscode/*
./src/Quizzical-Web/!.vscode/extensions.json
./src/Quizzical-Web/.idea
./src/Quizzical-Web/.DS_Store
./src/Quizzical-Web/*.suo
./src/Quizzical-Web/*.ntvs*
./src/Quizzical-Web/*.njsproj
./src/Quizzical-Web/*.sln
./src/Quizzical-Web/*.sw?